etd.sgml.dtd

<!--
  PROJECT: <ETD> Electronic Thesis and Dissertation Project
   AUTHOR: Neill Kipp, nkipp@vt.edu
  VERSION: 1.1
  RUNDATE: Mon Feb 24 23:18:27 EST 1997

  This file was generated with the "etdtangle.pl" Perl script,
  as if the source file were a literate program.  All information between 
  <pre> and </pre> comes here.

  DO NOT EDIT THIS FILE DIRECTLY!
    Rerun the following:
      sgmls sgml.dec myfile.etd | etdtangle.pl > myfile.source

-->
<!-- 
Document Type Definition
Electronic Theses and Dissertations
Virginia Polytechnic Institute and State University

Neill A. Kipp, Document Editor
nkipp@vt.edu

Version 0.9.6
January 28, 1997

http://etd.vt.edu/etd/
etd@vt.edu
-->

<!-- 
<!ENTITY % etd PUBLIC 
  "-//VT//DTD Electronic Theses and Dissertations 0.9.6//EN">
-->

<!ELEMENT etd  - O  ( front, body, back ) +( footnote | float ) >

<!-- Front matter -->

<!ELEMENT front - O
  ( title, author, submission, school, degree, major, approvals, date, city, state, 
  keywords, copyright, abstract, 
  grant?, dedication?, acknowledgments? ) >

<!ELEMENT title - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT author - O ( ( given, surname, suffix? ) | organization )  >

<!ELEMENT given - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT surname - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT suffix - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )*  >

<!ELEMENT organization - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >


<!ELEMENT submission - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT school - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT degree - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT major - O 
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT approvals - O ( name* ) >

<!ELEMENT name - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT date - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT city - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT state - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ELEMENT keywords - O ( keyword+ ) >

<!ELEMENT keyword - O 
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT copyright - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT abstract - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!ATTLIST abstract
  id ID #IMPLIED
>

<!ELEMENT grant - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!ATTLIST grant 
  id ID #IMPLIED 
>

<!ELEMENT dedication - O ( head?, ( p | citation | table | mm)* ) >

<!ATTLIST dedication
  id ID #IMPLIED
>

<!ELEMENT acknowledgments - O ( head?, ( p | citation | table | mm)* ) >

<!ATTLIST acknowledgments
  id ID #IMPLIED
>

<!-- Body matter -->

<!ELEMENT body - O ( chapter+ ) >

<!-- 1. -->
<!ENTITY % chapterInclusions "" >
<!ELEMENT chapter - O 
  ( head?,  ( p | citation | table | mm)*, section* ) %chapterInclusions; >

<!ATTLIST chapter
  id ID #IMPLIED
>

<!-- 1.2 -->
<!ELEMENT section - O 
  ( head?, ( p | citation | table | mm)*, subsection* ) >

<!ATTLIST section
  id ID #IMPLIED
>

<!-- 1.2.3 -->
<!ELEMENT subsection - O 
  ( head?, ( p | citation | table | mm)*, block* ) >

<!ATTLIST subsection
  id ID #IMPLIED
>

<!-- 1.2.3.4 -->
<!ELEMENT block - O 
  ( head?, ( p | citation | table | mm)*, subblock* ) >

<!ATTLIST block
  id ID #IMPLIED
>

<!-- 1.2.3.4.5 -->
<!ELEMENT subblock - O 
  ( head?, ( p | citation | table | mm)* ) >

<!ATTLIST subblock
  id ID #IMPLIED
>

<!ENTITY % paragraphInclusions "" >
<!ELEMENT p - O ( head | #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | 
   ol | ul | dl | pre | verse | blockquote | attrib | math )* %paragraphInclusions; >

<!ELEMENT head - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT em - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT strong - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT br - O EMPTY >

<!ELEMENT tt - - ( #PCDATA )* >

<!ELEMENT q - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT term - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT foreign - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT im - - ( #PCDATA )* >

<!ATTLIST im
  id ID #IMPLIED
  notation NOTATION (TeX) TeX
>

<!ELEMENT sup - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT sub - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ENTITY amp CDATA "&" >

<!ENTITY lt CDATA "<" >

<!ENTITY gt CDATA ">" >

<!ENTITY quot CDATA '"' >

<!ELEMENT pre - - ( #PCDATA )*  >

<!ATTLIST pre
  id ID #IMPLIED
  outfile CDATA #IMPLIED
>

<!ELEMENT blockquote - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!-- 
For example,

<blockquote>Rosencrantz and Guildenstern are dead</>
<attrib>William Shakespeare, <worktitle>Hamlet, Prince of Denmark</>, 
Act V, Scene II.</>
-->

<!ELEMENT attrib - O 
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT verse - O ( head?, stanza+ ) >

<!ATTLIST verse 
  id ID #IMPLIED
>

<!--
For example,
<verse>
<stanza>
<speaker>Petruchio
  <line>But here she comes; now, Petruchio, speak.
  <stage>Enter Katherina
  <line>Good morrow, Kate- for that's your name, I hear
<speaker>Katherina
  <line>Well have you heard, but something hard of hearing:
  <line>They call me Katherine that do talk of me. 

<attrib>William Shakespeare, <worktitle>Taming of the Shrew</>, Act II, Scene I
-->

<!ELEMENT stanza - O ( speaker | line | stage )+ >

<!ELEMENT speaker - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT line - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST line 
  id ID #IMPLIED
  indented (indent|noindent) noindent 
  -- for line numbering --
  number NUMBER #IMPLIED
>

<!ELEMENT stage - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST stage 
  id ID #IMPLIED
>

<!ELEMENT math - - ( #PCDATA )* >

<!ATTLIST math
  id ID #IMPLIED
  notation NOTATION (TeX) TeX
>

<!NOTATION TeX SYSTEM >

<!ELEMENT ol - - ( li )+ >

<!ATTLIST ol
  id ID #IMPLIED
  -- numbering: indicates the enumerator for this level of list
     (default: use in the order listed and circle back
     to arabic six-level nestings and beyond) --
  numbering ( arabic | lalpha | lroman | uroman | ualpha ) #IMPLIED
>

<!ELEMENT ul - - ( li )+ >

<!ATTLIST ul
  id ID #IMPLIED
>

<!ELEMENT li - O ( head | ol | ul | dl | 
  #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!ELEMENT dl - - ( dt, dd )+ >

<!ELEMENT dt - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT dd - O ( head | ol | ul | dl | 
  #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!-- 
Example usage:
    <a href="http://etd.vt.edu/etd/">ETD Home Page</a>
    <a href="mailto:etd@vt.edu">etd@vt.edu</a>
-->

<!ELEMENT a - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST a 
  href CDATA #REQUIRED
>

<!-- goesto refers to: 
  target, footnote, citation, float, chapter, section, etc. -->
  
<!ELEMENT link - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST link
  id ID #IMPLIED
  HyTime NAME clink
  -- goesto: refers to another identifier in this document --
  goesto IDREF #REQUIRED
>

<!ELEMENT target - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST target 
  id ID #IMPLIED
>

<!ELEMENT footnote - -
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle | p | citation | table | mm )* >

<!ATTLIST footnote
  id ID #REQUIRED
>

<!ELEMENT float - - ( ( p | citation | table | mm )*, caption? ) >

<!ATTLIST float 
  id ID #REQUIRED
>

<!ELEMENT caption - O 
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST caption
  id ID #IMPLIED
>

<!ELEMENT table - O 
  ( ( colhead, column+)* | ( rowhead, row+)* )
>

<!ATTLIST table 
  id ID #IMPLIED
>

<!ELEMENT ( colhead | rowhead ) - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ELEMENT column - O ( c* | rowhead* ) >
<!ELEMENT row - O ( c* | colhead* ) >

<!ELEMENT c - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!-- Multimedia object.  The optional content has information about
media format and file size. -->

<!ELEMENT mm - O
  ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br | 
   worktitle | articletitle )* >

<!ATTLIST mm
  entity ENTITY #REQUIRED
>

<!-- Back matter -->

<!ELEMENT back - O ( bibliography, appendix*, vita ) >

<!ELEMENT bibliography - O ( head?, ( p | citation | table | mm)* ) >

<!ENTITY % citationInclusions "" >
<!ELEMENT citation - O 
  ( address | articletitle | bible | court | edition | editor | email |
  handle | note | number | pages | pubdate | publisher | url | version |
  volume | workauthor | worktitle )*
  %citationInclusions;>

<!ATTLIST citation
  id ID #IMPLIED

  -- worktype: tells what sort of work is being cited, 
     i.e., book, journal, proceedings, video, WWW page, etc. --
  worktype CDATA #REQUIRED

  -- published: tells if the work was actually published --
  published ( published | unpublished ) published
>

<!ELEMENT   ( address | articletitle | bible | court | edition | editor | email |
  handle | note | number | pages | pubdate | publisher | url | version |
  volume | workauthor | worktitle )
  - O ( #PCDATA | em | strong | tt | q | term | foreign | 
   im | link | target | a | sup | sub | br )* >

<!ATTLIST
  ( address | articletitle | bible | court | edition | editor | email |
  handle | note | number | pages | pubdate | publisher | url | version |
  volume | workauthor | worktitle )
  id ID #IMPLIED
>


<!ENTITY % appendixInclusions "" >
<!ELEMENT appendix - O ( head?, ( p | citation | table | mm)*, section* ) %appendixInclusions; >

<!ATTLIST appendix 
  id ID #IMPLIED
>

<!ELEMENT vita - O ( head?, ( p | citation | table | mm)* ) >

<!-- 
  This is an example document type declaration with subset.  
  It begins an SGML ETD.

<!DOCTYPE etd SYSTEM "etd.dtd" [
  <!NOTATION jpeg SYSTEM >
  <!ENTITY theatre SYSTEM "theatre.jpg" NDATA jpeg >
  <!ENTITY stratford SYSTEM "stratford.jpg" NDATA jpeg >
]>
<etd> 
<front>
<title>Use of Metaphor in Shakespeare's Plays ...
--> 

<!-- Inclusions -->

  <!ENTITY % chapterInclusions "" >

  <!ENTITY % chapterInclusions "+( mypara | myquote )" >

  <!ENTITY % appendixInclusions "" >

  <!ENTITY % citationInclusions "" >

  <!ENTITY % paragraphInclusions "" >

<!--
  End of Document, etdtangle.pl, Version 1.1
  RUNDATE: Mon Feb 24 23:18:27 EST 1997
-->
